# ========================
# Node / Frontend
# ========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# ========================
# Python / Backend
# ========================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
venv/
env/
.venv/
.env

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.mo

# ========================
# Editor / OS
# ========================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
